{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/new_req.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <header>
        <div class="topLineWords">
            <p class="logo">Letovo.Help</p>
            <p class="name"><a href="{% url 'logout' %}">{{request.user}}</a></p>
        </div>
        <div class="iconSignOut"><i class="fas fa-door-open signOut"></i></div>

    </header>
    <nav>
        <button class="allRequests active">Все запросы</button>
        <button class="myRequests">Мои запросы</button>
        <a href="{% url 'new request' %}"><button class="createRequest">Создать запрос</button></a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="column">
            <p><strong>Компания</strong></p>
            <ul>
            <li><a href="">О нас</a></li>
            <li><a href="">Правила</a></li>
            <li><a href="">Контакты</a></li>
            <li><a href="">Юридическая информация и политика конфиденциальности</a></li>
            </ul>
        </div>
        <div class="column">
            <p><strong>Помощь</strong></p>
            <ul>
            <li><a href="">Служба поддержки</a></li>
            <li><a href="">Обратная связь</a></li>
            <li><a href="">Личный кабинет</a></li>
            </ul>
        </div>
        <div class="column">
            <p><strong>Основные страницы</strong></p>
            <ul>
            <li><a href="">Все запросы</a></li>
            <li><a href="">Мои запросы</a></li>
            <li><a href="">Создать запрос</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>