{% extends 'main/layout.html' %}

{% load static %}

{% block title%}New Requests{% endblock %}
{% block content%}
<div class="rating_1" style="margin-left: 2%">
<h5>Рейтинг исполнителя: {{d}} из 5</h5>
    {%for i in do%}
    {%if i == 1%}
        <span class="active_star">&#9733;</span>
    {%else%}
        <span class="inactive_star">&#9733;</span>
    {%endif%}
    {%endfor -%}
</div>
<div class="rating_2">
<h5>Рейтинг заказчика: {{o}} из 5</h5>
    {%for i in order%}
    {%if i == 1%}
        <span class="active_star">&#9733;</span>
    {%else%}
        <span class="inactive_star">&#9733;</span>
    {%endif%}
    {%endfor -%}
</div>
<form class="searchLine">
      <input class="form-control search" type="text" placeholder="Поиск" aria-label="Поиск">
<button class="btn" type="submit">Найти</button>
</form>
{% for el in req%}
<div class="card">
      <div class="card-body">
            <h3 class="card-title">{{el.title}} <span>Дата публикации: {{el.created_at}}</span> </h3>
            <p class="card-text">{{el.description}}</p>
            <a href="{% url 'request details' el.id %}" class="btn">Смотреть подробности</a>
            <a href="{% url 'request update' el.id %}" class="btn" id="edit">Редактировать</a>
      </div>
</div>
{%endfor%}
{% endblock %}