{% extends 'main/layout.html' %}
{% load static %}
<head>
    {% block title%}Создать запрос{% endblock %}
</head>


{% block content %}
    <p id="intro">Данные запроса</p>
    <form method="POST">
        {% csrf_token%}
        {{form.description}}
        {{form.title}}<br>
        {{form.additional_req}}<br>
        {{form.categories}}<br>
        {{form.how_to_connect}}<br>
        {{form.is_anonimous}}<span id="anon"> Анонимно</span><br>
        <button id="send" class="btn btn-success" type="submit">Создать</button>

    </form>

{% endblock %}