{% extends 'main/layout.html' %}
{% load static %}
<head>
    {% block title%}Создать запрос{% endblock %}
    {% block links%}<link rel="stylesheet" type="text/css" href="{% static 'main/css/new_req.css'%}"> {% endblock%}
</head>


{% block content %}
    <p id="intro">Данные запроса для редактирования</p>
    <form method="POST">
        {% csrf_token%}
        {{form.description}}
        {{form.title}}<br>
        {{form.additional_req}}<br>
        <div class="form-control" id="cat">
            {{form.categories}}
        </div><br>
        {{form.how_to_connect}}<br>
        {{form.is_anonimous}}<span id="anon"> Анонимно</span><br>
        <button id="send" class="btn btn-success" type="submit">Подтвердить изменения</button>

    </form>

{% endblock %}